@inject UserManager<MyUser> UserManager;

@{
    if (User.Identity.IsAuthenticated)
    {
        IdentityUser user = await UserManager.GetUserAsync(User);

        <h3>@User.Identity.Name find at @user.Email</h3>
    }
}
