@page
@model ASP_NET_Inlämningsuppgift_Facit.Pages.Organizer.LoungeModel

@inject UserManager<MyUser> userManager
@{
}

<h1>Välkommen till organisatörernas V.I.P sida</h1>

@foreach (var user in Model.Users)
{
    bool isOrg = await userManager.IsInRoleAsync(user, "Organizer");

    <form method="post" asp-route-id="@user.Id">
        @Html.CheckBoxFor(m => m.CheckBox, new { onchange= "this.form.submit()", @checked=isOrg })
    </form>

    <p>@user.UserName - @user.Email</p>
}