@page
@model ASP_NET_Inlämningsuppgift_Facit.Pages.User.LoginModel
@{
}

<h2>Log in</h2>
<form method="post">
    <input asp-for="LoginUser.UserName" />
    <input asp-for="LoginUser.Password" />
    <input type="submit" />
</form>