@page
@model ASP_NET_Inlämningsuppgift_Facit.Pages.User.RegisterModel
@{
}

<h2>Register</h2>
<form method="post">
    <input asp-for="NewUser.userName" />
    <input asp-for="NewUser.password" />
    <input type="submit" />
</form>